@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  position: absolute;
  animation: animateHeader linear forwards;
  animation-timeline: view(0% -100%);
  top: 0;
  left: 0;
  color: white;
}

@keyframes animateHeader {
  100% {
    position: fixed;
    background-color: white;
    @apply shadow text-black top-0;
  }
}
